body {
    background: #000000;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 500;
  }

  .typewriter h1 {
    color: #ffffffa1;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
    a.button1:hover{
    color:#000000;
    background-color:#ffffff;
    border: 0.1em solid rgb(0, 0, 0);
}
    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
}
